.DS_Store
node_modules
src/**/*.js
src/**/*.js.map
examples/**/*.js
examples/**/*.js.map
!examples/boot.js
!examples/files.js
!examples/js/Detector.js
!examples/js/libs/*.js
!examples/js/libs/*.js.map
